
@{
    ViewBag.Title = "HireManager";
}

<h2>HireManager</h2>

<form>
    <div>
        <br />
        <br />
        <table class="table table-bordered">
            <tr>
                <th>Request Id</th>
                <th>Required java Developers</th>
                <th>Required .Net Developers</th>
                <th>Required Business Analyst</th>
            </tr>
  
         @*@foreach (var item in Model)
        {
            <tr><td>@item.</td></tr>
            <tr><td>@item.</td></tr>
            <tr><td>@item.</td></tr>
            <tr><td>@item.</td></tr>
            <tr><td> @Html.ActionLink("Allot", "Allotment", null, new { @class = "btn btn-primary btn-large" })</td></tr>
        }*@

        </table>
       
    </div>
</form>

